{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    .login__page input[type="submit"]{
        cursor: pointer;
        transition:0.4s 
    }
    .login__page input[type="submit"]:hover {
        background-color: orange;
        color: #fff;
    }
</style>
<div class="login__page">

    <div class="login__page__form">
        <h1 class="login__page__form__heading">Login</h1>
        {% for message in messages %}
        <p id="messages" style="color: red;">{{message}}</p>
        {% endfor %} <br>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username...">
            <input type="password" type="password" name="password" placeholder="Password...">
            <input type="submit">
        </form>
        <div class="login__page__ask__for__signup__forgotpassowrd">
            <small>Need account ? <a href="{% url 'signup' %}">Signup</a></small>
            <small><a href="{% url 'request_reset_email' %}">Forgot password ?</a></small>
        </div>
    </div>
</div>
{% endblock %}