{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    .login__page input[type="submit"] {
        cursor: pointer;
        transition: 0.4s
    }

    .login__page input[type="submit"]:hover {
        background-color: orange;
        color: #fff;
    }
</style>
<div class="login__page">

    <div class="login__page__form">
        {% for message in messages %}
        <p id="messages" style="color: red;">{{message}}</p>
        {% endfor %} <br>
        <form action="{% url 'request_reset_email' %}" method="POST" id="login-form">
            {% csrf_token %}
            <input type="email" class="form-control" placeholder="Enter your email here !" name="email"> <br>
            <input id="email__entered" type="submit">
        </form>
    </div>
</div>
<script>
    $("#email__entered").click(()=>{
         $(".loading-screen").show()
    })
</script>
{% endblock %}