{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    .login__page input[type="submit"] {
        cursor: pointer;
        transition: 0.4s
    }

    .login__page input[type="submit"]:hover {
        background-color: orange;
        color: #fff;
    }
</style>
<div class="login__page">

    <div class="login__page__form">
        {% for message in messages %}
        <p id="messages" style="color: red; margin-bottom: 15px;">{{message}}</p>
        {% endfor %} <br>
        <form action="{% url 'set_new_password' uidb64 token %}" method="POST" id="login-form">
            {% csrf_token %}
            <input type="password" style="margin-bottom: 1px;" class="form-control" placeholder="Reset password" name="password1"> <br>
            <input type="password" style="margin-bottom: 1px;" class="form-control" placeholder="Confirm password" name="password2"> <br>
            <input href="" type="submit">
        </form>
    </div>
</div>
{% endblock %}